{% extends 'vnos.html'%}
{%block content%}
<style>
    h1 {text-align: center;}
</style>
<h1 >prijava na cepljenje za covid-19 </h1>
<br>
<form action="vnos" method='post'>
    {% csrf_token %}
    vnesite svoj emso: <input type = "string" name ='emso' placeholder="emšo številka "><br>
    vnesite prvo črko imena : <input type = "text" name ='ime'placeholder="Žan -> Ž"><br>
    vnesite prvo črko priimka: <input type = "text" name ='priimek'placeholder="Kos -> K"><br>
    vnesite svojo email: <input type = "text" name ='mail'placeholder="uporabnik@domena.com"><br>

<input type ="submit">
</form>
<div>
    {% for message in messages %}
    <h3>{{message}}</h3></div>
    {%endfor%}
    
{%endblock%}